*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333333;
    color: chocolate;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
}

p{
    font-size: 30px;
    text-transform: capitalize;
    margin: 2rem 0;
}

.container{
    position: relative;
    background-image: url(https://images.pexels.com/photos/3861958/pexels-photo-3861958.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;  
}

.landing{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    padding-top: 50px;
}

.landing-img{
    width: 14rem;
    height: 14rem;
    position: absolute;
    left: 40%;
}

img{
    width: 100%;
    height: 100%;
}

.countdown{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.countdown div{
    width: 20%;
    height: 90px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 100px 25px; 
    opacity: 0.7;
    color: #fff;
    background: crimson;
}

.countdown span{
    display: block;
}

.countdown div:first-child{
    background: green;
}

.social-media{
    width: 4rem;
    height: 12rem;
    background: yellow;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    list-style: none;
}

.social-media li{
    margin: auto;
    font-size: 2rem;
} 

.left{
    position: absolute;
    top: 8rem;
    left: 12rem;    
}

.right{
    position: absolute;
    top: 8rem;
    right: 12rem;    
}

.bar{
    width: 3rem;
    height: 3rem;
    background: #fff;
    position: absolute;
    top: 4rem;
    right: 5rem;
    cursor: pointer;
    border-radius: 50%;
    animation-name: background;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 22500ms;
}

.bar.right{
    position: absolute;
    top: 5rem;
    right: 12.5rem;
}

.bar.left{
    position: absolute;
    top: 5rem;
    left: 12.5rem;
    z-index: 1000;
}

.menuToggler{
    position: relative;
    padding-top: 7px;
}

.one, .two, .three{
    border: 2px solid #000000;
    margin: 5px;
}





@keyframes background{

    0%{
        background: #ffffff;
    }

    15%{
        background: lightblue;
    }

    30%{
        background: blue;
    }

    45%{
        background: orangered;
    }

    60%{
        background: red;
    }

    75%{
        background: yellow;
    }

    90%{
        background: green;
    }

    100%{
        background: #ffffff;
    }
}






/* Media Queries */

@media(max-width: 1200px){

    p{
        font-size: 25px;
    }

}



@media(max-width: 992px){
    
    .bar.left{
        left: 5rem;
    }
    
    .bar.right{
        right: 5rem;
    }

    .left{
        left: 4.5rem;
    }

    .right{
        right: 4.5rem;
    }

}


@media(max-width: 850px){
    
    .bar.left{
        left: 3rem;
    }
    
    .bar.right{
        right: 3rem;
    }

    .left{
        left: 2.5rem;
    }

    .right{
        right: 2.5rem;
    }

}


@media(max-width: 768px){

    p{
        font-size: 20px;
    }

    .bar.left{
        left: 2rem;
    }
    
    .bar.right{
        right: 2rem;
    }

    .left{
        left: 1.5rem;
    }

    .right{
        right: 1.5rem;
    }

}


@media(max-width: 650px){

    .landing img{
        width: 30%;
        height: 25%;    
        object-fit: contain;
        object-position: top;
    }

    .landing h1{
        font-size: 30px;
        padding-top: 5px;
    }

    .countdown{
        font-size: 30px;
        flex-direction: column;
        padding-top: 5px;
    }

    .countdown div{
        margin: 15px;
    }

}



@media(max-width: 568px){

    p{
        font-size: 14px;
    }

}


@media(max-width: 470px){

    .bar, .social-media{
        visibility: hidden;
    }

    p{
        font-size: 18px;
    }

    .countdown div{
        font-size: 23px;
        width: 30%;
        line-height: 1.6;
        height: 80px;
    }

}