*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333333;
    color: #ffffff;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
}

p{
    font-size: 30px;
    text-transform: capitalize;
}

.container{
    position: relative;
    background-image: url(https://images.pexels.com/photos/3861958/pexels-photo-3861958.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;  
}

.landing{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    padding-top: 50px;
}

.countdown{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.countdown div{
    width: 20%;
    height: 90px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 5px; 
    opacity: 0.7;
    background: crimson;
}

.countdown span{
    display: block;
}

.countdown div:first-child{
    background: green;
}

.social-media{
    width: 4rem;
    height: 7rem;
    background: yellow;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    list-style: none;
}

.social-media li{
    margin: 3px auto;
}

.left{
    position: absolute;
    top: 8rem;
    left: 12rem;    
}

.right{
    position: absolute;
    top: 8rem;
    right: 12rem;    
}

.bar{
    width: 3rem;
    height: 3rem;
    background: #fff;
    position: absolute;
    top: 4rem;
    right: 5rem;
    cursor: pointer;
    border-radius: 50%;
    animation-name: background;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 22500ms;
}

.bar.right{
    position: absolute;
    top: 5rem;
    right: 12.5rem;
}

.bar.left{
    position: absolute;
    top: 5rem;
    left: 12.5rem;
    z-index: 1000;
}

.menuToggler{
    position: relative;
    padding-top: 7px;
}

.one, .two, .three{
    border: 2px solid #000000;
    margin: 5px;
}